<!DOCTYPE html>
<html>

<head>
  <title><%= @title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css" />
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.mobile-1.4.5.min.js"></script>
  <script src="/js/home_auto.js"></script>
</head>

<body>
<div data-role="page">
  <div data-role="header">
    <h1><%= @title %></h1>
  </div><!-- /header -->

  <div data-role="content">
  <form>
    <% @dimmers.each do |dimmer| %>
      <label for="<%= dimmer[:id] %>"><%= dimmer[:name] %></label>
      <input type="range" class="dimmer" name="<%= dimmer[:id] %>" id="<%= dimmer[:id] %>" value="<%= dimmer[:value] %>" min="0" max="100">
    <% end %>

    <% @switches.each do |switch| %>
        <label for="<%= switch[:id] %>"><%= switch[:name] %></label>
        <input type="checkbox" class="switch" id="<%= switch[:id] %>" <%= switch[:status] ? 'checked' : '' %> data-role="flipswitch">
    <% end %>
      

    </form>
  </div><!-- /content -->

</div><!-- /page -->

</body>
</html>
